# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X stuff
.DS_Store

build
bin

# files
*.suo
*.csproj.*
*.sdf
*.opensdf
*.ipch
*.InstallLog
*.pdb
*.png

UpgradeLog*.htm

# folders
$tf/
_git/
bin/
obj/
x64/
x86/
Debug/
Release/
.nuget/
.vs/
Externals/
HandRendering/
packages/
bower_components/
node_modules/
